html{
    background-color: rgb(206, 202, 201);
    
}
.header{
    width: 100%; 
}
.aside{
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(238, 238, 248);
}
.item{
    background-color: rgb(250, 241, 241);
    padding: 20px;
    border-radius: 20px;
}
img{
    border-radius: 20px;
    padding: 5px;
    width:100%;
    height: 70%;
}
.img{
    border-radius: 0px;
    align-content: start;
    width: 100%;
    height: 200px;
    padding:0px;
}
p{
    color: rgb(7, 2, 32);
    background-color: rgb(198, 198, 199);
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
}
.footer{
    padding: 0px;
    width: 100%;
    margin-right: 15px;
}